name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          python3-pip python3-setuptools python3-wheel \
          openjdk-17-jdk \
          zip unzip git \
          build-essential \
          libffi-dev libssl-dev \
          libsqlite3-dev \
          libbz2-dev \
          libreadline-dev \
          libncurses5-dev

    - name: Install Buildozer
      run: |
        pip3 install --user buildozer cython==0.29.36
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Build APK
      run: |
       export ANDROID_NDK_HOME=$ANDROID_HOME/ndk/23.2.8568313
        export ANDROID_NDK=$ANDROID_NDK_HOME
        buildozer android debug
